* {
    background-color: rgb(228, 211, 190);
}


header {
    display: flex;
    justify-content: space-between;
    background-color: tan;
}

li {
    padding: 4px;
    margin: 0 8px;
    border-bottom: 3px solid black;
}
.page-title {
    background-color: tan;
    font-size: 180%;
}

.in-header ul {
    display: flex;
    list-style: none;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

a:hover{
    color: hotpink;
}

.head-image {
    background-image: url(./Images/Landscape-for-top.jpg);
    background-size: cover;
    background-position: center;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 250px;
    margin-bottom: 25px;
    padding: 5px;
    box-shadow: 10px; 
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

 .slogan {  
    background-color: tan;
    color: black;
    width: 145px;
    position: absolute;
}

.about {
    display: flex;
    border-right: 5px;
    padding: 4px;
    margin: 0 8px;
}

.aside { 
    background-color: slategray;
    color: black;
    border-right: 10px;
}

.about-me {
    background-size: cover;
    background-position: center;
    height: 280px;
    width: 100%;
    font-size: 45px;
}

.text {
    color: black;
    font-size: 175%;
    margin-left: 15px;
    font-style: oblique;
    background-color: rgb(228, 211, 190);
    border-left: 5px solid black;
    padding-left: 1%; 
}

.work {
    height: 250px;
    width: 15%;
    font-size: 45px;
    border-right: 5px solid black;
}

.body2 {
    background-image: url(./Images/one-ring.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    display: flex;
}

.surf {
    border-left: 5px solid black;
    background-color: tan;
    color: black;
    width: 145px;
    height: 20%;
    position: relative;
    top: 190px;
}


@media screen and (max-width: 768px) {
    
    }