* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 231, 214);
}

.header {
    padding: 10px;
    background-color: tan;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: black;
    background-color: tan;
    display: inline-block;
    font-size: 48px;
}

.header nav ul {
    list-style-type: none;
    display: flex;
}

.header nav ul li {
    display: inline-block;
    margin-left: 10px;
}

a {
    color: black;
    font-weight: 900;
}

.underNav {
    height: 150px;
    width: 100%;
    margin-bottom: 0.5%;
    background-image: url(./Images/Landscape-for-top.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding-bottom: 1%;
}

.underNav ul {
    background-color: tan;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}

.content {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.article {
    width: 75%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding-left: 2%;
    color: black;
}

.content h2 {
    height: 20%;
    width: 25%;
    text-align: right;
    font-size: 300%;
    padding-right: 1%;
    color: black;
}
.Work {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2%;
    padding-bottom: 1%;
}

.Work h2 {
    font-size: 300%;
    text-align: right;
    color: black;
}

.WorkTitle {
    width: 25%;
    padding-right: 1%;
}

.gallery {
    width: 75%;
    border-left: 5px solid black;
    padding-left: 2%
}

.OneRing {
    height: 300px;
    width: 100%;
    margin-bottom: 0.5%;
    background-image: url(./Images/one-ring.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2%;
    border: 5px solid black;
}

.OneRing div {
    background-color: tan;
    color: black;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.OneRing div small {
    font-size: 50%;
}

.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
}

.books {
    height: 150px;
    width: 100%;
    margin-bottom: 0.5%;
    background-image: url(./Images/books.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2%;
    border: 5px solid black;
}

.books div {
    background-color: tan;
    color: black;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hobbithole {
    height: 150px;
    width: 100%;
    margin-bottom: 0.5%;
    background-image: url(./Images/Hobbit-hole.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1%;
    border: 5px solid black;
}

.hobbithole div {
    background-color: tan;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}

.map {
    height: 150px;
    width: 100%;
    margin-bottom: 0.5%;
    background-image: url(./Images/map.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1%;
}

.map div {
    background-color: tan;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}

.yellowdoor {
    height: 150px;
    width: 100%;
    margin-bottom: 0.5%;
    background-image: url(./Images/yellow-door.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1%;
}

.yellowdoor div {
    background-color: tan;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}

footer {
    height: 150px;
    display: flex;
    align-items: center;
}

.footerMenu {
    width: 75%;
    height: 100px;
    display: flex;
    border-left: 10px solid black;
    justify-content: space-around;
    align-items: center;
}

.footerTitle {
    width: 25%;
    font-size: 300%;
    text-align: right;
}

@media only screen and (max-width: 990px) {
    .header {
        flex-direction: column;
    }

    .header nav ul {
        margin: 3% 0;
    }

    .content {
        flex-direction: column-reverse;
    }

    .content h2 {
        width: 100%;
        text-align: center;
        padding: 4%;
    }

    article {
        width: 100%;
        text-align: center;
        padding: 3%;
    }
    
    .galleryContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .work {
        flex-direction: column;
    }

    .workTitle {
        width: 100%;
    }

    .work h2 {
        text-align: center;
        padding: 3% 0;
    }

    .gallery {
        width: 100%;
        border: none;
        padding: 3%;
    }

    footer {
        flex-direction: column;
        margin: 5% 0;
    }

    .footerTitle {
        width: 100%;
        text-align: center;
    }

    .footerMenu {
        width: 100%;
        flex-direction: column;
        border: none;
    }

    .footerMenu div {
        margin-top: 3%;
    }
}